@charset "UTF-8";
/* 시작하기 전 표준 레이아웃 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

/* /* 이미지(기본적으로 inline처리된)와 글 사이에 갭을 처리하는 법: 이미지를 박스 요소로 바꾸면 됨 */
img {
  display: block;
}

.container {
  margin-inline: auto;
  padding-inline: 2rem;
}

/* 미디어쿼리 창 간격에 따라 글자레이아웃 패딩 조정 */
@media (width < 37.5rem) {
  .container {
    padding-inline: 1rem;
  }
}
.wrapper {
  padding-block: 2rem;
}

#section1 .wrapper {
  display: flex;
  gap: 1rem;
}

.card {
  max-width: 18.75rem;
  border: 0.0625rem solid #ccc;
  /* 테두리 둥글게 */
  border-radius: 0.5rem;
  background-color: #ffffff;
  /* 이미지가 라디우스를 뚫고 나가는거 방지 */
  overflow: hidden;
}
.card__img {
  width: 100%;
  aspect-ratio: 4/3;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__text {
  padding: 1rem;
}
.card__text h3 {
  font-size: 1.25rem;
  /* 한문장의 간격높이 */
  line-height: 1.75rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.card__text p {
  line-height: 1.5rem;
  overflow: hidden;
  /* 문장이 초과되면 ...을 넣어주는 기능 (아래 문장들까지 같이 넣어줘야 적용댐)
  /* 한문장만 쓰고 싶으면 white-space:nowrap;만 넣어줄 수ㅜ 있음 */
  text-overflow: ellipsis;
  display: -moz-box;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -moz-line-clamp: 4;
  -webkit-line-clamp: 4;
  max-height: 6rem;
}
.card__buttons {
  padding: 1rem;
  display: flex;
  justify-content: end;
  gap: 0.5rem;
}

.button {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  line-height: 0.875rem;
  font-weight: bold;
  background-color: blue;
  color: rgba(255, 255, 255, 0.87);
  border-radius: 62.4375rem;
}
.button--type-text {
  background-color: unset;
  color: blue;
  padding-inline: 0.5rem;
}