* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

nav {
  background-color: black;
  padding: 1.875rem;
  font-size: 1.25rem;
}
.logo {
  display: flex;
  justify-content: space-between;
  font-family: serif;
  font-style: italic;
  align-items: center;
}

a {
  color: #fff;
  text-decoration: none;
  transition: color 0.4s;
}

a:hover {
  color: red;
}

main {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  font-family: system-ui;
  font-size: 1.25rem;
  line-height: 1.5;
}

section {
  scroll-snap-align: center;
  overflow: hidden;
  text-align: center;
}
p {
  font-size: 16px;
}

@media (max-width: 600px) {
  p {
    font-size: 14px;
  }
}

@media (min-width: 601px) {
  p {
    font-size: 18px;
  }
}

.wrapper {
  background: linear-gradient(
    #420602,
    #000,
    #e61302
  );
  color: seashell;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: serif;
  display: flex;
  flex-direction: column;
  padding-inline: 3.125rem;
  letter-spacing: 2px;
  padding-top: 3.75rem;
}

.button--type-text {
  background-color: unset;
  color: red;
  padding-inline: 0;
}

#tired1 {
  .animTarget {
    opacity: 0;
    transition: transform 750ms ease-out,
      opacity 1000ms;
  }
  .animTarget:nth-child(1) {
    transform: translateY(-50px);
  }
  .animTarget:nth-child(2) {
    transform: translateY(50px);
  }
  &.triggered {
    .animTarget {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

#tired2 {
  .animTarget {
    transform: scale(0);
    transition: transform 500ms ease-in-out;
  }
  &.triggered {
    .animTarget {
      transform: scale(1);
    }
  }
}

#tired3 {
  .animTarget {
    transform: translateX(100vw);
  }
  .animTarget:nth-child(1) {
    transition: transform 500ms ease-in-out;
  }
  .animTarget:nth-child(2) {
    transition: transform 450ms ease-in-out 50ms;
  }
  &.triggered {
    .animTarget {
      transform: translateX(0);
    }
  }
}
#tired4 {
  .animTarget {
    transform: translateX(100vw);
  }
  .animTarget:nth-child(1) {
    transition: transform 500ms ease-in-out;
  }
  .animTarget:nth-child(2) {
    transition: transform 450ms ease-in-out 50ms;
  }
  &.triggered {
    .animTarget {
      transform: translateX(0);
    }
  }
}

.h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 80px;
  margin-top: 1.25rem;
}

p {
  display: flex;
  justify-content: center;
  margin-top: 0.75rem;
  margin-bottom: 1.25rem;
  padding: 0 1rem; /* 수정된 부분: 패딩을 추가 */
}

// script {
//   font-family: "Franklin Gothic Medium",
//     "Arial Narrow", Arial, sans-serif;
//   font-size: 6.25rem;
//   color: chartreuse;
//   text-shadow: 0 0 0.3125rem black;
// }

@media (max-width: 53.125rem) {
  .wrapper {
    display: block;
    text-align: center;
  }
  .main__text {
    margin-bottom: 2.25rem;
  }
  .main__text__buttonWrapper {
    margin-inline: auto;
    flex-direction: column;
  }
}

.profile {
  background-color: #000;
  padding-block: 4rem;
  color: white;
  float: center;
}

.ima-title {
  margin-bottom: 1.25rem;
  display: flex;
  justify-content: center;
  padding: 1.875rem;
  font-size: 1.875rem;
  /* align-items: center;
  display: ; */
}
.card-title {
  margin-bottom: 1.5rem;
  align-items: center;
  color: brown;
}

.box-text {
  width: 75%;
  padding-block: 3.125rem;
  display: grid;
  margin-left: 12vw;
  grid-template-columns: repeat(
    auto-fit,
    minmax(15.4375rem, 1fr)
  );
  gap: 0.1875rem;
}
.span {
  display: flex;
  justify-content: center;
}

.card__img:hover {
  transform: scale(1.1);
  transform: 1s;
}

.card-description {
  margin-bottom: 20px;
  color: mistyrose;
  font-family: "Diphylleia", serif;
}
@keyframes button-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.card-button {
  margin-left: 1.875rem;
  width: fit-content;
  height: fit-content;
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  animation-name: button-animation;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 15;
}
.card-button:active {
  background-color: blue;
  color: #ffffff; /* 텍스트 색상 변경 */
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4); /* 그림자 효과 추가 */
}

.column {
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 3.125rem;
}
