@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

nav {
  background-color: black;
  padding: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 142px;
  height: 51.25px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #fff;
  text-decoration: none;
  transition: color 0.4s;
}

a:hover {
  color: red;
}

main {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  font-family: system-ui;
  font-size: 1.25rem;
  line-height: 1.5;
}

section {
  scroll-snap-align: center;
  overflow: hidden;
  text-align: center;
}

section:nth-child(even) {
  color: aliceblue;
}

.wrapper {
  background: linear-gradient(#420602, #000, #e61302);
  color: whitesmoke;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 50px;
  letter-spacing: 2px;
}
.wrapper .button--type-text {
  background-color: unset;
  color: red;
  padding-inline: 0;
}

#tired1 .animTarget {
  opacity: 0;
  transition: transform 750ms ease-out, opacity 1000ms;
}
#tired1 .animTarget:nth-child(1) {
  transform: translateY(-50px);
}
#tired1 .animTarget:nth-child(2) {
  transform: translateY(50px);
}
#tired1.triggered .animTarget {
  opacity: 1;
  transform: translateY(0);
}

#tired2 .textanim h2 {
  opacity: 0;
  transform: translateY(20px);
  animation: fade-in 1s ease forwards;
}
#tired2 .textanim p {
  opacity: 0;
  transform: translateY(20px);
  animation: fade-in 1s ease 0.5s forwards;
}
@keyframes fade-in {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 80px;
  margin-top: 1.25rem;
}

p {
  display: flex;
  justify-content: center;
  margin-top: 0.75rem;
  margin-bottom: 1.25rem;
  padding: 0 1rem; /* 수정된 부분: 패딩을 추가 */
}

script {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 6.25rem;
  color: chartreuse;
  text-shadow: 0 0 0.3125rem black;
}

@media (max-width: 53.125rem) {
  .wrapper {
    display: block;
    text-align: center;
  }
  .main__text {
    margin-bottom: 2.25rem;
  }
  .main__text__buttonWrapper {
    margin-inline: auto;
    flex-direction: column;
  }
}
.footer .wrapper {
  grid-template-columns: 1fr 1fr 1fr;
}