* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}
nav {
  background-color: black;
  padding: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 142px;
  height: 51.25px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #fff;
  text-decoration: none;
  transition: color 0.4s;
}

a:hover {
  color: red;
}

main {
  width: 100%;
  height: 100dvh;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: center;
  overflow: hidden;
  text-align: center;
}

section:nth-child(even) {
  color: aliceblue;
}

.wrapper {
  background: linear-gradient(
    #420602,
    #000,
    #e61302
  );
  color: whitesmoke;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .button--type-text {
    background-color: unset;
    color: red;
    padding-inline: 0;
  }
  // .wrapper {
  //   width: min(60ch, 100% - 4rem);
  //   min-height: max(50rem, 100dvh);
  //   margin-inline: auto;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  // }
  // width: min(60ch, 100% - 4rem);
  // min-height: max(50rem, 100dvh);
  // margin-inline: auto;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
}

#tired1 {
  .animTarget {
    opacity: 0;
    transition: transform 750ms ease-out,
      opacity 1000ms;
  }
  .animTarget:nth-child(1) {
    transform: translateY(-50px);
  }
  .animTarget:nth-child(2) {
    transform: translateY(50px);
  }
  &.triggered {
    .animTarget {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

#tired2 {
  // .content
  .animTarget {
    transform: scale(0);
    transition: transform 6000ms ease-out;
  }
  &.triggered {
    .animTarget {
      transform: scale(1);
    }
  }
}

.h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 80px;
  margin-top: 1.25rem;
}
p {
  display: flex;
  justify-content: center;
  margin-top: 0.75rem;
  margin-bottom: 1.25rem;
}

// // img,
// // svg,
// // video {
// //   max-width: 100%;
// //   display: block;
// // }
// /*
script {
  font-family: "Franklin Gothic Medium",
    "Arial Narrow", Arial, sans-serif;
  font-size: 6.25rem;
  color: chartreuse;
  text-shadow: 0 0 0.3125rem black;
}

@media (width < 53.125rem) {
  .wrapper {
    display: block;
    text-align: center;
    p {
      margin-inline: auto;
    }
  }
  .main {
    &__text {
      margin-bottom: 2.25rem;
      &__buttonWrapper {
        margin-inline: auto;
        flex-direction: column;
        align-items: center;
        gap: 0;
      }
    }
  }
}
img {
  display: block;
}

.container {
  margin-inline: auto;
  padding-inline: 2rem;
}
@media (width < 37.5rem) {
  .container {
    padding-inline: 1rem;
  }
}

.wrapper {
  padding-block: 2rem;
}

#cardui {
  .wrapit {
    display: flex;
    gap: 1rem;
  }
}

.card {
  cursor: pointer;
  max-width: 18.75rem;
  border: 0.0625rem solid #ccc;
  /* 테두리 둥글게 */
  border-radius: 0.5rem;
  background-color: #ffffff;
  /* 이미지가 라디우스를 뚫고 나가는거 방지 */
  overflow: hidden;
  // transition: transform 500ms ease,
  //  box-shadow 500ms ease;
  transition: all 500ms ease;
  &:hover {
    transform: translateY(-0.125rem) scale(1.01);
    box-shadow: 0 0.5rem 0.75rem 0.375rem
        rgba(0, 0, 0, 0.15),
      0 0.25rem 0.25rem rgba(0, 0, 0, 0.3);
    .card {
      &__img {
        filter: grayscale(0);
      }
    }
  }
  &__img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    filter: grayscale(100%);
    transition: filter 500ms ease;
  }
}
&__text {
  padding: 1rem;
  h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  p {
    $lineHeightVal: 1.5rem;
    $clampLine: 4;
    line-height: $lineHeightVal;
    overflow: hidden;

    text-overflow: ellipsis;
    display: -moz-box;
    display: -webkit-box;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    -moz-line-clamp: $clampLine;
    -webkit-line-clamp: $clampLine;
    max-height: $clampLine * $lineHeightVal;
  }
}
&__buttons {
  padding: 1rem;
  display: flex;
  justify-content: end;
  gap: 0.5rem;
}

.button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  line-height: 0.875rem;
  font-weight: bold;
  background-color: blue;
  color: rgba($color: #ffffff, $alpha: 0.87);
  border-radius: 62.4375rem;
  transition: background-color 300ms ease;
  &:hover {
    background-color: aqua;
  }
  &--type {
    &-text {
      background-color: unset;
      color: blue;
      padding-inline: 0.5rem;
      transition: color 300ms ease;
      &:hover {
        background-color: unset;
        color: cornflowerblue;
      }
    }
  }
}

.footer {
  background-color: black;
  color: white;
  font-size: 0.875rem;
  margin-top: 1.25rem;
  container-type: inline-size;
  container-name: footer;
  li {
    list-style: none;
  }
  svg {
    fill: white;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem;
  }
  h2 {
    font-size: 0.9375rem;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
  }
  li {
    margin-bottom: 0.5rem;
  }
  &__logo {
    margin-bottom: 0.75rem;
  }
  &__extLinkWrap {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  @container footer (width < 44.375rem) {
    .column:first-of-type {
      grid-row: 1 / span 2;
    }
    .wrapper {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
