@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

nav {
  background-color: #140000;
  padding: 1.875rem;
  font-size: 1.25rem;
}

.logo {
  display: flex;

  justify-content: space-between;
  font-family: "Hahmlet", serif;
  align-items: center;
}

main {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  line-height: 2;
}

.type {
  margin-top: 1.875rem;
  color: #000;

  font-family: "Hahmlet", serif;
}

article {
  font-weight: 600;
  font-size: 1.5625rem;
  overflow: hidden;
  border-right: 0.15em solid black;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(25, end),
    blink-caret 0.8s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 70.25rem;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

section {
  scroll-snap-align: start;
  overflow: hidden;
  text-align: center;
}

p {
  font-size: 16px;
}

@media (max-width: 600px) {
  p {
    font-size: 14px;
  }
}
@media (min-width: 601px) {
  p {
    font-size: 18px;
  }
}
.wrapper {
  background: linear-gradient(
    #420602,
    #140000,
    #e61302
  );
  color: seashell;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* padding-inline: 3.125rem; */
  letter-spacing: 0.0625rem;
}

.gif {
  margin: 0;
  max-width: 56.25rem;
  animation: infinite-rotation 1s linear infinite;
}

#tired1 .animTarget {
  background: linear-gradient(
    90deg,
    #000,
    #140000,
    #000
  );
  margin: 0;
  opacity: 0;
  transition: transform 750ms ease-out,
    opacity 1000ms;
}
#tired1 .animTarget:nth-child(1) {
  transform: translateY(-50px);
}
#tired1 .animTarget:nth-child(2) {
  transform: translateY(50px);
}
#tired1.triggered .animTarget {
  opacity: 1;
  transform: translateY(0);
}

#tired2 .animTarget {
  transform: scale(0);
  transition: transform 500ms ease-in-out;
}
#tired2.triggered .animTarget {
  transform: scale(1);
}

#tired3 .animTarget {
  transform: translateX(100vw);
}
#tired3 .animTarget:nth-child(1) {
  transition: transform 500ms ease-in-out;
}
#tired3 .animTarget:nth-child(2) {
  transition: transform 450ms ease-in-out 50ms;
}
#tired3.triggered .animTarget {
  transform: translateX(0);
}

#tired4 .animTarget {
  transform: translateX(100vw);
}
#tired4 .animTarget:nth-child(1) {
  transition: transform 500ms ease-in-out;
}
#tired4 .animTarget:nth-child(2) {
  transition: transform 450ms ease-in-out 50ms;
}
#tired4.triggered .animTarget {
  transform: translateX(0);
}

h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
  font-weight: 400;
  font-size: 3.75rem;
  margin-top: 1.875rem;
}

p {
  display: flex;
  justify-content: space-between;
  font-family: "Diphylleia", serif;
  margin-top: 1.25rem;
  max-width: 56.25rem; /* 화면의 최대 너비를 설정 */
  margin-left: auto; /* 좌우 중앙 정렬을 위해 왼쪽 여백을 자동으로 설정 */
  margin-right: auto;
  font-size: 1.125rem\;;
}

@media (max-width: 53.125rem) {
  .wrapper {
    display: block;
    text-align: center;
  }
  .main__text {
    margin-bottom: 2.25rem;
  }
  .main__text__buttonWrapper {
    margin-inline: auto;
    flex-direction: column;
  }
}
.profile {
  background-color: #000;
  padding-block: 4rem;
  color: white;
  float: center;
}

.ima-title {
  margin-bottom: 64px;
  display: flex;
  justify-content: center;
  font-size: 3.125rem;
  font-family: Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
}

.card-title {
  margin-bottom: 1.5rem;
  align-items: center;
  color: white;
  font-family: "Hahmlet", serif;
}

.box-text {
  width: 75%;
  padding-block: 2.5rem;
  display: grid;
  margin-left: 12vw;
  margin-bottom: 20px;
  font-family: "Diphylleia", serif;
  grid-template-columns: repeat(
    auto-fit,
    minmax(15.4375rem, 1fr)
  );
  gap: 0.1875rem;
}

.span {
  display: flex;
  justify-content: center;
}

.card__img:hover {
  transform: scale(1.1);
  transform: 5s;
}

@keyframes button-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.card-button {
  margin-left: 1.875rem;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: maroon;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  animation-name: button-animation;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 15;
}

.card-button:active {
  background-color: blue;
  color: #ffffff; /* 텍스트 색상 변경 */
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4); /* 그림자 효과 추가 */
}

.column {
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 3.125rem;
}
