* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.section {
  background-color: lightpink;
}

.container {
  --pXVal: 36px;
  background-color: greenyellow;
  max-width: calc(1200px + 2 * var(--pXVal));
  margin-inline: auto;
  padding-inline: var(--pXVal);
}

.wrapper {
  background-color: royalblue;
  padding-block: 32px;
}